services:
  - type: web
    name: telegram-bot
    env: node
    plan: free
    branch: main
    buildCommand: "npm install"
    startCommand: "node index.js"
    autoDeploy: true
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        fromDatabase: false
        value: "<YOUR_TELEGRAM_BOT_TOKEN>"
      - key: SPREADSHEET_ID
        fromDatabase: false
        value: "<YOUR_SPREADSHEET_ID>"
      - key: GOOGLE_SERVICE_ACCOUNT_JSON
        fromDatabase: false
        value: '<YOUR_SERVICE_ACCOUNT_JSON>'
