services:
  - type: web
    name: telegram-bot
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: TELEGRAM_BOT_TOKEN
      - key: SPREADSHEET_ID
      - key: GOOGLE_APPLICATION_CREDENTIALS_JSON