services:
  - type: web
    name: telegram-bot
    env: node
    plan: free
    region: oregon
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: GOOGLE_APPLICATION_CREDENTIALS_JSON
        sync: false
      - key: SPREADSHEET_ID
        sync: false
    autoDeploy: true
    branch: main
    pullRequestPreviewsEnabled: false
    ports:
      - port: 10000
